# Virtual environments
.venv/
venv/
myenv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Packaging
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Temporary/local files
*.tmp
*.csv~
